
.baja {
    background-color: green;
}
.media {
    background-color: yellow;
}
.alta {
    background-color: red;
}
.bolck {
    display: block;
}
.hide {
    display: none;
}
#alerta {
    display: none;
    color: red;
}